.App {
  font-family: sans-serif;
  background-color: var(--app-background);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background ease-in-out 300ms;
}

.quote__block {
  background-color: #fff;
  padding: 30px;
  width: 70%;
  max-width: 700px;
  border-radius: 5px;
  box-shadow: 0 5px 25px 3px rgba(0,0,0,0.3);
  animation: container-fit 200ms ease-out forwards;
  transition: all ease-in-out 500ms;
}

.quote__block .quote__text {
  color: var(--app-background);
  transition: color ease-in-out 350ms;
  margin-bottom: 40px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 1.4;
}

.quote__block .quote__author {
  color: var(--app-background);
  transition: color ease-in-out 350ms;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: right;
}

.quote__block .quote__controls {
  margin-top: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.quote__block .quote__controls--button {
  background-color: var(--app-background);
  transition: background ease-in-out 300ms;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

/* Animations */
@keyframes container-fit {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}